header {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-image: url(images/bg-transparent1.png);
    color: aliceblue;
    height: 60px;
}

.navbar img {
    display: flex;
    margin-right: 30px;
}

.navbar li {
    display: flex;
    margin: 0;
    display: inline-block;
    padding: 18px 4%;
    transition: background-color 1.7s;
}

.navbar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;
    /* Changer le curseur de la souris en pointeur */
}

.navbar li:hover {
    display: flex;
    background-color: black;
}

body {
    background-image: url(images/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.haut {
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 8%;
}

.satellite {
    display: flex;
}

.Texte-satellite {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
}

.haut>div>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #cfcfcf9a;
    font-size: 20px;
    width: 183px;
    height: 45px;
    border: none;
    margin: auto;
    cursor: pointer;
}

.haut>div>button:hover {
    display: flex;
    background-color: aliceblue;
    transition: background-color 0,3s;
}

.haut>div>button:hover {
    display: flex;
    color: black;
}

header li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    display: flex;
    font-family: 'Audiowide', sans-serif;
    font-size: 65px;
    margin: 0;
}

h2 {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
}

h3 {
    display: flex;
    font-family: 'Audiowide', sans-serif;
    font-size: 25px;
    color: rgba(196, 196, 196, 0.877);
    margin: 0;
    padding: 0;
    position: absolute;
}

.contenair {
    text-align: center;
    background-image: url(images/bg-transparent1.png);
    background-color: rgba(131, 26, 26, 0.493);
    height: 15px;
    width: 940px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Images {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.bloc1 {
    background-image: url(images/bg-transparent1.png);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: cener;
    flex-direction: column;
    height: 140px;
    background-color: rgb(138, 3, 77);
}

h4 {
    font-family: 'Audiowide', sans-serif;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: aliceblue;
    top: -14px;
}

.bloc1>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 50%;
    color: aliceblue;
}

.bloc2 {
    background-color: rgb(0, 0, 0);
    height: 350px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h5, h6 {
    display: flex
}

h5, h6 {
    font-family: 'Audiowide', sans-serif;
    font-size: 26px;
}

.texte-video img{
    display: flex;
    margin: auto;
    height: 200px;
}

.Blog-images{
    width: 404px;  
}
.Blog-images img{
    display: flex;
    margin-bottom: 100p;
}

.bordure1{
    background-color: rgb(172, 172, 172);
    color: aliceblue;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
}
