header {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-image: url(images/bg-transparent1.png);
    color: aliceblue;
    height: 60px;
}

.navbar img {
    display: flex;
    margin-right: 30px;
}

.navbar li {
    display: flex;
    margin: 0;
    display: inline-block;
    padding: 18px 4%;
    transition: background-color 1.7s;
}

.navbar li:hover {
    color: rgb(158, 158, 158);
    transition: 1.7s;
}

.navbar li:not(:hover){
    transition: 1.2s;
}

.navbar {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* Changer le curseur de la souris en pointeur */
}

.navbar li:hover {
    display: flex;
    background-color: black;
}

body {
    background-image: url(images/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    padding: 0;
    margin: 0;
}

.haut {
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 8%;
}

.satellite {
    display: flex;
}

.Texte-satellite {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
}

.haut>div>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #cfcfcf9a;
    font-size: 20px;
    width: 183px;
    height: 45px;
    border: none;
    margin: auto;
    cursor: pointer;
}

.haut>div>button:hover {
    display: flex;
    background-color: rgba(109, 0, 33, 0.808);
    transition: background-color 0.6s;
}

.haut>div>button:not(:hover) {
    transition: background-color 1.2s;
}


.haut>div>button:hover {
    display: flex;
    color: rgb(255, 255, 255);
}

header li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    display: flex;
    font-family: 'Audiowide', sans-serif;
    font-size: 65px;
    margin: 0;
}

h2 {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
}

h3 {
    display: flex;
    font-family: 'Audiowide', sans-serif;
    font-size: 25px;
    color: rgba(196, 196, 196, 0.877);
    margin: 0;
    padding: 0;
    position: absolute;
}

.contenair {
    text-align: center;
    background-image: url(images/bg-transparent1.png);
    background-color: rgba(131, 26, 26, 0.493);
    height: 15px;
    width: 940px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Images {
    display: flex;
    justify-content: center;
    margin: auto;
}

.bloc1 {
    background-image: url(images/bg-transparent1.png);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 140px;
    background-color: rgb(179, 0, 98);
}

h4 {
    font-family: 'Audiowide', sans-serif;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: aliceblue;
    top: -14px;
}

.bloc1>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 50%;
    color: aliceblue;
}

.bloc2 {
    background-color: rgb(0, 0, 0);
    height: 300px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

h5,
h6 {
    display: flex;
}

h5,
h6 {
    font-family: 'Audiowide', sans-serif;
    font-size: 26px;
}

h5 {
    margin-top: 0;
}

h6 {
    margin-top: 0;
    height: 5px;
}

.texte-video {
    height: 100%;
    margin: 1.3%;
}

.Blog-images {
    height: 300px;
    width: 400px;
    margin: 1.3%;
}

.texte-video img {
    display: flex;
    margin: auto;
    height: 214px;
}

.findingplanet {
    display: flex;
    align-items: flex-end;
    height: 33%;
}

.newsatellite {
    display: flex;
    height: 33%;
}

.Blog-images img {
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    height: 80px;
}

.newsatellite>p {
    font-family: 'Audiowide', sans-serf;
    font-size: 20px;
}

.bloc-desc :first-child {
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
    color: rgb(145, 145, 145);
    margin-bottom: 2.5%;
}

.bloc-desc p:last-child{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.bloc1finding {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.vertical-line {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 400px;
}

.boutton {
    height: 35%;
    display: flex;
}

.boutton>button {
    background-color: rgba(142, 52, 150, 0.342);
    color: aliceblue;
    margin: auto 0 0 auto;
    height: 30px;
    width: 40%;
    border: none;
    cursor: pointer;
}

.bloc-desc {
    height: 55%;
    padding-top: 2%;
}

.bloc-desc>p{
    margin: 0;
}

.bordure1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: gray;
}

.span {
    display: flex;
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
    color: white;
}

.boutton>button:hover{
    background-color: rgb(141, 2, 48);
    color: aliceblue;
    transition: 1.5s;
}

.bordure1 svg{
    margin: 10px;
}

.span {
    margin: 40px;
}

.banniere-end {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.boutton>button:not(:hover){
    transition: 1.2s;
}